{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 align-self-center">Image Processing</h1>
        <p class="lead"> A webapp for image processing.</p>
        <form id="" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            Browse an image...
            <br>
            <input name="file" type="file" id="inputGroupFile04" accept="image/*" required>
            <button type="submit" class="btn btn-success">Upload</button>
        </form>
        <br><br>
        <form id="" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <h3>Recent image <button type="submit" class="btn btn-success">Use recent image</button></h3>
            <img src="static/img/img_now.jpg" alt="normal picture">

        </form>
    </div>
</div>
{% endblock %}